body{
  font-family: "lato", sans-serif;
}

.pattern2 {
      background-image: url("pattern.png");
      opacity: 0.02;
      position: absolute;
      left: 0px;
      top: 750px;
      width: 1600px;
      height: 710px;
      z-index: 240;
}

.bg{
  background-color: silver;
  background-image: url("../img/bg.png");
  width: 500px;
  height: 500px;
}

.pattern{
  background-color: silver;
  background-image: url("../img/pattern.png");
  width: 500px;
  height: 500px;
}