/* General --------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* 62.5 = 10px or 1rem */
}
  
body{
    font-size: 1.6rem;
    color: #2e2e2e;
  }

  .clearfix{
  content: "";
  clear: both;
  /* display: table; */
  height:fit-content;
}

.float_left,.float_left>*{
  float: left;
}

.centered{
  border: 1px solid grey;
  margin-top: .4rem;
}

img{width: 20rem;}

.projects{
  border: 1px solid grey;
}

.container{
  margin: 0 auto;
  min-width: 72rem;
}


/* Header ---------------------*/
header{
  background: #4c5eab;
  color: white;
  min-height: 25rem;
}

.name{
  width: 70%;
  float: left;
  padding: 6rem 0 4rem 8%;
  /* background: #4c5eab; */
}

.my-photo>img{
  width: 15rem;
  margin-right: 3rem;
  border-radius: 50%;
  float: left;
}

.title{
  margin-top:4.5rem;
  float: left;
}

.contact{
  width: 30%;
  float: right;
  /* background: #4c5eab; */
}

.contact_list{
  max-width: 22rem;
  margin-top: 6rem;
  list-style: none;
  clear: both;
}

.links{
  float: left;
  /* border: 1px solid yellow; */
  margin-left: 3rem;
  margin-top: -2.5rem;
}

.links>a{
  color: white;
  text-decoration: none;
}

.contact_list>li{
  float: left ;
  border: 1px solid white;
  margin-bottom: 2rem;
}

.contact_list>li>i{
  margin-top: .8rem;
  width: 3rem;
}

.contact_list>li>*{
  float:left;
}


/* Main ----------------------- */
.container3{
  width: 100%;
  /* background:cadetblue; */
  position: relative;
  overflow: hidden;
}

.container2{
  width: 100%;
  /* background:brown; */
  /* background:#fafafa; */
  background: linear-gradient(to right, white, #f8f8f8);
  border-right: 2px solid rgb(240, 239, 239);
  position: relative;
  right: 70%;
}

aside{
  float: left;
  /* width: 26rem; */
  width: 21%;
  margin-left: 10%;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
  left: 68%;
}

aside>*{
  /* border: 1px solid red; */
  margin-bottom: 4rem;
}

.circled{
  color: white;
  width: 4rem;
  height: 4rem;
  padding-top: 1.2rem;
  margin: 0 2rem 1.5rem 0;
  border-radius: 50%;
  background:#4c5eab;
  text-align: center;
}



.skills{
  color: white;
  background:grey;
}


/* Portfolio ----------------------- */
.portfolio{
  position: relative;
  width: 68%;
  float: right;
  padding-top: 4rem;
  overflow: hidden;
  left: 70%;
}

.projects{
  margin-left: 6rem;
}


/* Footer ----------------------- */
footer{
  border: 1px solid green;
  height: 7.2rem;
}