/* General --------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* 62.5% = 10px or 1rem */
}
  
body{
    font-size: 1.6rem;
    color: #2e2e2e;
  }

  .clearfix{
  content: "";
  clear: both;
  /* display: table; */
  /* height:fit-content; */
}

.float_left,.float_left>*{
  float: left;
}

.centered{
  /* border: 1px solid grey; */
  margin-top: .4rem;
}

.circled{
  color: white;
  width: 4rem;
  height: 4rem;
  padding-top: 1.2rem;
  margin: 0 2rem 1.5rem 0;
  border-radius: 50%;
  background:#4c5eab;
  text-align: center;
}

.container{
  margin: 0 auto;
  min-width: 72rem;
}


/* Header ---------------------*/
header{
  background: #4c5eab;
  color: white;
  min-height: 25rem;
}

.name{
  width: 70%;
  float: left;
  padding: 6rem 0 4rem 8%;
  /* background: #4c5eab; */
}

.my-photo>img{
  width: 15rem;
  margin-right: 3rem;
  border-radius: 50%;
  float: left;
}

.title{
  margin-top:4.5rem;
  float: left;
}

.contact{
  width: 30%;
  float: right;
}

.contact_list{
  max-width: 22rem;
  margin-top: 6rem;
  list-style: none;
  clear: both;
}

.links{
  float: left;
  margin-left: 3rem;
  margin-top: -2.5rem;
}

.links a{
  color: white;
  text-decoration: none;
}

.links a:hover{
  color:orange;
}

.contact_list>li{
  float: left ;
  margin-bottom: 2rem;
}

.contact_list>li>i{
  margin-top: .8rem;
  width: 3rem;
}

.contact_list>li>*{
  float:left;
}


/* Main ----------------------- */
.container2{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container1{
  width: 100%;
  background: linear-gradient(to right, white, #f8f8f8);
  border-right: 2px solid rgb(240, 239, 239);
  position: relative;
  right: 70%;
}

aside{
  float: left;
  /* width: 26rem; */
  width: 21%;
  margin-left: 10%;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
  left: 68%;
}

aside>*{
  /* border: 1px solid red; */
  margin-bottom: 4rem;
}

.interests_content>*{
  margin-top: .5rem;
  /* border: 1px solid blue; */
  margin-right: 2.5rem;
  text-align: center;
}

.interests_content i{
  color:#4c5eab;
  border: 5px solid #4c5eab;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Reference ---------------- */
.reference_list{
  padding-left: 3rem;
}
.reference{
  padding-top: 4rem;
}

.reference li{
  list-style-type: none;
  /* border: 1px solid red; */
    /* You need to turn on relative 
    positioning so the line is placed 
    relative to the item rather than 
    absolutely on the page */
  position: relative;
    /* Use padding to space things 
    out rather than margins as the 
    line would get broken up otherwise */
  margin: 0;
  /* padding-bottom: 1em; */
  /* padding-left: 1px; */
}

.list_item-1:before {
  background-color: #999695;
  width: 1px;
  content: '';
  position: absolute;
  top: -72px;
  bottom: 28px;
  left: -18px;
}

.bullet { 
  float: left; 
  fill: #999695; 
  width: 26px; 
  margin-left: -26px; 
  padding-right: 8px; 
  top: 5rem;
}

/* .reference li::before{
  content: '\2022';
  color: red;
  font-weight: bold;
  width: 2.3rem;
  display: inline-block;
  font-size: 2rem;
  border: 2px solid red;
  border-radius: 50%;
  margin-left: -3rem;
} */

.reference_list a{
  text-decoration: none;
}

.awards_content>*{
  margin-bottom: 1rem;
}

.awards a{
  text-decoration: none;
  color: #2e2e2e;
}

.awards a:hover{
 color: #4c5eab;
}


/* Portfolio ----------------------- */
.portfolio{
  position: relative;
  width: 68%;
  float: right;
  padding-top: 4rem;
  overflow: hidden;
  left: 70%;
}

.projects{
  margin-left: 6rem;
  text-align: center;
}

.project{
  width: 24rem;
  height: 26rem;
  margin: 0 1.5rem 1.5rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project a{
  text-decoration: none;
  color: #2e2e2e;
}

.project a:hover{
  color: #4c5eab;
}

.project img{
  width: 23.8rem;
  height: 17rem;
}

/* Footer ----------------------- */
footer{
  color: white;
  background:#4c5eab;
  padding-top: 2.5rem;
  padding-left: 8%;
  height: 7rem;
}